@font-face { 
   font-family: "gilroy-bold"; 
   src: url("/fonts/gilroy-bold.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   } 
@font-face { 
   font-family: "gilroy-medium"; 
   src: url("/fonts/gilroy-medium.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   }
 @font-face { 
   font-family: "gilroy-regular"; 
   src: url("/fonts/gilroy-regular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   }
@font-face { 
   font-family: "gilroy-semibold"; 
   src: url("/fonts/gilroy-semibold.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   }

body{
   margin: 0;
}

/* HEADER */

.header{
}

.header a {
   text-decoration: none;
}
.header__container {
   width: 1400px;
   margin: 40px auto 50px auto;
   display: flex;
   justify-content: space-between;
}
.nav {
   display: flex;
   align-items: center;
}
.nav__logo {
   margin-right: 50px;
   font-family: 'gilroy-bold';
   font-size: 40px;
   color: #000;
}
.nav__arrow {
   position: relative;
   margin-right: 15px;
   font-family: 'gilroy-medium';
   font-size: 20px;
   color: #000;
}
.nav_arrow__burger {
   padding-left: 10px;
   padding-right: 10px;
   height: 100px;
   width: 100px;
   justify-content: space-around;
   padding-top: 5px;
   position: absolute;
   display: none;
   flex-direction: column;
   background-color: #616161;
}

.nav_arrow__burger a{
   color: #fff;
}

.nav__arrow__link{
   font-family: 'gilroy-medium';
   font-size: 20px;
   color: #000;
}
.nav__arrow__link:hover{
   color: #E89F71;
}

.header__search {
   margin-left: 120px;
}

.header__search__form{
   width: 480px;
   position: relative;
   
}

.header__search__button{
   padding: 0;
   border: none;
   background-color: #fff;
   position: absolute;
   margin-left: 15px;
   margin-top: 17px;
   height: 20px;
   width: 20px;
}

.header__search__input{
   border: none;
   height: 50px;
   width: 430px;
   padding-left: 45px;
}  

.header__actions {
   margin-left: 120px;
   display: flex;
}

.header__actions__img{
   margin-left: 30px;
}

.background__intro {
   position: absolute;
   top: 0;
   z-index: -1;
   height: 800px;
   width: 100%;
   display: flex;
}

.background__intro__left {
   background-color: #F9F1E7;
   width: 67%;
}

.background__intro__right {
   width: 33%;
   background-color: #FCF8F3;
}
   
/* FOOTER */

.footer {
   width: 100%;
}
.footer__container {
   width: 1400px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.footer__line {
   width: 1400px;
   margin: 100px auto 80px auto;
   border: 1px solid #D8D8D8;
}
.footer__main {
   width: 250px;
}
.footer__title {
   margin-top: 0;
   font-family: 'gilroy-bold';
   font-weight: 700;
   font-size: 24px;
   color: #000;
   margin-bottom: 30px;
}
.footer__main__subtitle {
   margin-top: 0;
   margin-bottom: 30px;
   font-family: 'gilroy-medium';
   font-size: 16px;
   color: #616161;
   font-weight: 400;
}
.footer__main__info {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   font-family: 'gilroy-medium';
   font-size: 16px;
   color: #616161;
   font-weight: 400;
   text-decoration: none;
}
.footer__main__img {
   margin-right: 15px;
}
.footer__main__text {
   font-family: 'gilroy-medium';
   font-size: 16px;
   color: #616161;
   font-weight: 400;
   text-decoration: none;
}
.footer__main__link {
   margin-bottom: 30px;
   font-family: 'gilroy-medium';
   font-size: 16px;
   color: #616161;
   font-weight: 400;
   text-decoration: none;
}

.footer__menu {
   display: flex;
   flex-direction: column;
}
.footer__subtitle {
   margin-bottom: 30px;
   font-family: 'gilroy-medium';
   font-size: 16px;
   color: #616161;
   font-weight: 500;
}
.footer__email__form {
   display: flex;
   align-items: center;
}
.footer__email__button {
   cursor: pointer;
   background-color: #fff;
   width: 50px;
   height: 50px;
   border: none;
}
.footer__email__input {
   background: #F4F5F7;
   border: none;
   width: 250px;
   height: 45px;
   padding-left: 10px;
}

.about__us {
   width: 1400px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.about__us_item {
   padding-left: 25px;
   display: flex;
}
.about__us_item_text {
   margin-left: 25px;
}
.about__us_title {
   font-family: 'gilroy-medium';
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 5px;
   margin-top: 0;
}
.about__us_subtitle {
   font-family: 'gilroy-medium';
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}

.our__products {
   width: 1400px;
   margin: 0 auto;
}
.our__products_title {
   text-align: center;
}
.our__products_inner{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.our__products_item {
   margin-right: 1px;
   position: relative;
   background-color: #F4F5F7;
   margin-bottom: 40px;
}
.our__products_item_img {
   height: 300px;
   width: 280px;
}
.our__products_item_sale {
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 20px;
   margin-top: 20px;
}
.our__products_item_title {
   font-family: 'gilroy-medium';
   font-size: 24px;
   font-weight: 600;
   margin-top: 16px;
   margin-left: 16px;
   margin-bottom: 0;
   color: #3A3A3A;
}
.our__products_item_subtitle {
   font-family: 'gilroy-medium';
   font-size: 16px;
   font-weight: 500;
   margin-top: 16px;
   margin-left: 16px;
   color: #898989;
   margin-bottom: 0;
}
.our__products_price {
   display: flex;
   margin-bottom: 25px;
}
.our__products_fullprice {
   font-family: 'gilroy-medium';
   font-size: 20px;
   font-weight: 600;
   margin-top: 16px;
   margin-left: 16px;
   color: #3A3A3A;
}
.our__products_saleprice {
   font-family: 'gilroy-medium';
   font-size: 16px;
   font-weight: 400;
   margin-left: 16px;
   text-decoration-line: line-through;
   color: #B0B0B0;
   padding-top: 2px;
}
.our__products_itemHover {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}
.our__products_itemHover:hover{
   background-color: rgba(58, 58, 58, 0.7);
   opacity: 1;
}
.our__products_itemHover_inner{
   display: flex;
   flex-direction: column;
   height: 100%;
}
.our__products_btn {
   margin-top: 180px;
   width: 200px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   background-color: #fff;
   color: #E89F71;
   text-decoration: none;
}
.our__products_btn:hover{
   background-color: #E89F71;
   color: #fff;
}
.our__products_hoverImg {
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
}
.our__products_img {
   margin-top: auto;
   margin-bottom: auto;
   width: 75px;
   height: 25px;
   fill: #E89F71;
}
.our__products_img:hover{
   -webkit-filter: hue-rotate(90deg);
   filter: hue-rotate(90deg);
}

