@font-face { 
   font-family: "gilroy-bold"; 
   src: url("/fonts/gilroy-bold.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   } 
@font-face { 
   font-family: "gilroy-medium"; 
   src: url("/fonts/gilroy-medium.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   }
 @font-face { 
   font-family: "gilroy-regular"; 
   src: url("/fonts/gilroy-regular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   }
@font-face { 
   font-family: "gilroy-semibold"; 
   src: url("/fonts/gilroy-semibold.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   }

body{
   margin: 0;
}

/* HEADER */

.header{
}

.header a {
   text-decoration: none;
}
.header__container {
   width: 1400px;
   margin: 40px auto 50px auto;
   display: flex;
}
.nav {
   display: flex;
   align-items: center;
}
.nav__logo {
   margin-right: 50px;
   font-family: 'gilroy-bold';
   font-size: 40px;
   color: #000;
}
.nav__arrow {
   margin-right: 15px;
   font-family: 'gilroy-medium';
   font-size: 20px;
   color: #000;
}
.nav_arrow__burger {
   display: none;
   flex-direction: column;
}
.nav__arrow__link{
   font-family: 'gilroy-medium';
   font-size: 20px;
   color: #000;
}
.header__search {
   margin-left: 120px;
}

.header__search__form{
   width: 480px;
   position: relative;
}

.header__search__button{
   padding: 0;
   border: none;
   background-color: #fff;
   position: absolute;
   margin-left: 15px;
   margin-top: 17px;
   height: 20px;
   width: 20px;
}

.header__search__input{
   border: none;
   height: 50px;
   width: 430px;
   padding-left: 45px;
}  

.header__actions {
   margin-left: 120px;
   display: flex;
}

.header__actions__img{
   margin-left: 30px;
}

.background__intro {
   position: absolute;
   top: 0;
   z-index: -1;
   height: 800px;
   width: 100%;
   display: flex;
}

.background__intro__left {
   background-color: #F9F1E7;
   width: 67%;
}

.background__intro__right {
   width: 33%;
   background-color: #FCF8F3;
}
   
/* FOOTER */

.footer {
   width: 1300px;
}
.footer__container {
}
.footer__line {
}
.footer__main {
}
.footer__title {
}
.footer__main__subtitle {
}
.footer__main__info {
}
.footer__main__img {
}
.footer__main__text {
}
.footer__main__link {
}
.footer__menu {
}
.footer__subtitle {
}
.footer__email {
}
.footer__email__form {
}
.footer__email__button {
}
.footer__email__input {
}